:root{
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --dark: #343a40;
    --light: #f8f9fa;
}

.text_primary{color: var(--primary);}
.text_secondary{color: var(--secondary);}
.text_success{color: var(--success);}
.text_danger{color: var(--danger);}
.text_warning{color: var(--warning);}
.text_info{color: var(--info);}
.text_dark{color: var(--dark);}
.text_light{color: var(--light);}


.bg_primary {background-color: var(--primary);}
.bg_secondary {background-color: var(--secondary);}
.bg_success {background-color: var(--success);}
.bg_danger {background-color: var(--danger);}
.bg_warning {background-color: var(--warning);}
.bg_info {background-color: var(--info);}
.bg_dark {background-color: var(--dark);}
.bg_light {background-color: var(--light);}


.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.9;
}

.btn_primary{
    color: var(--white);
    background-color: var(--primary);
}

.btn_secondary{
    color: var(--white);
    background-color: var(--secondary);
}

.btn_success{
    color: var(--white);
    background-color: var(--success);
}

.btn_danger{
    color: var(--white);
    background-color: var(--danger);
}

.btn_warning{
    color: var(--white);
    background-color: var(--warning);
}

.btn_info{
    color: var(--white);
    background-color: var(--info);
}

.btn_dark{
    color: var(--white);
    background-color: var(--dark);
}

.btn_outline_primary{
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--dark);
} 

.btn_outline_primary:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
} 

.flex_items{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex_items > div{
    padding: 20px;
    flex-basis: 100%;
}

.icons{
    padding: 10px;
}

.icons h3{
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i{
    background-color: var(--info);
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.flex_columns.flex_reverse .row{
    flex-direction: row-reverse;
}

.flex_columns .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex_columns .column{
    flex: 1;
}

.flex_columns .column .column1,
.flex_columns .column .column2{
    height: 100%;
}

.flex_columns .column2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}

.flex_columns img{
    width: 100%;
    height: 100%;
}

.flex_grid .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 .4rem;
}

.flex_grid .column{
    flex: 25%;
    padding: 0 .4rem;
}

.section_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

.section_header h2{
    font-size: 4rem;
    margin: 2rem 0;
}

.section_padding{
    padding: 2rem 2rem 4rem;
}

@media(max-width:768px){
    .flex_items{
        flex-direction: column;
    }

    .flex_columns .column{
        flex: 100%;
    }  

    .flex_grid .column{
        flex: 50%;
        padding: 0 .4rem;
    }
}
